.legendFormLabel {
  font-size: 1.5rem;
  color: #3d658f;
}

.controlLabel {
  font-size: 0.8rem;
  font-weight: bold;
  color: #52657a;
}

.formControl {
  font-size: 1rem;
}

.formHint {
  font-size: 0.6rem;
  line-height: 1.4;
  margin: -5px auto 5px;
  color: #999;
}
.formHint.error {
  color: #ff6b6b;
  font-size: 0.8rem;
}

.strengthMeter {
  position: relative;
  height: 3px;
  background: #ededed;
  /* background: #ddd; */
  margin: 7px 0;
  border-radius: 2px;
}
.strengthMeter:before,
.strengthMeter:after {
  content: "";
  height: inherit;
  background: transparent;
  display: block;
  border-color: #fff;
  border-style: solid;
  border-width: 0 6px 0;
  position: absolute;
  width: calc(33.35%);
  /* width: calc(20% + 6px); */
  z-index: 10;
}
.strengthMeter:before {
  left: calc(33.33% - 3px);
}
.strengthMeter:after {
  right: calc(33.33% - 3px);
}

.strengthMeterFill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;
  background: #ededed;
}
.strengthMeterFill[data-strength="0"] {
  width: 33.35%;
  background: #ff6b6b;
}
.strengthMeterFill[data-strength="1"] {
  width: 33.35%;
  background: #fdcb35;
}
.strengthMeterFill[data-strength="2"] {
  width: 33.35%;
  background: #fdcb35;
}
.strengthMeterFill[data-strength="3"] {
  width: 66.7%;
  background: #7acb6b;
}
.strengthMeterFill[data-strength="4"] {
  width: 100%;
  background: #4d55e5;
}
