.LoginScreen {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
    flex-direction: column;
}

/* .navMainContainer {
  position: absolute;
  top: 0;
  padding: 15px 0px;
  width: 100%;
  background-color: transparent !important;
  max-width: 90%;
} */

.headerContainer {
}

.innerDiv {
  padding: 7% 5%;
  border-radius: 20px;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  width: 600px;
  background-color: var(--white-color);
  margin:auto
}

.logo {
  width: 259px;
  height: 74px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.logoDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.formContainer {
  margin-bottom: 30px;
}

.signUp {
  text-align: center;
  font-size: 16px;
  font-family: "plus-jakarta-display-regular";
  color: var(--text-color-black);
}

.signUp span {
  color: var(--main-color);
}

.navigate {
  cursor: pointer;
  text-decoration: underline;
}

.forgetPassword {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 6px;
  font-size: 14px !important;
  cursor: pointer;
}

@media (max-width: 768px) {
  .innerDiv {
    box-shadow: none;
    width: 90%;
    background-color: var(--white-color);
    padding: 24px;
    margin: 0 auto;
  }

  .mb96 {
    margin-bottom: 56px;
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
